<aside role="complementary">
  <section>
    <h2><a href="/tags/">Blog tags</a></h2>
    <ul>
      {{ $data := .Data }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        <li>
          <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
  <section>
    <h2><a href="/blog/">Blog posts</a></h2>
    <ol>
      {{ range first 4 (where .Data.Pages "Section" "blog") }}
      <li>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ol>
  </section>
  <section>
    <h2><a href="/status/">Status udpates</a></h2>
    <ol>
      {{ range first 4 (where .Data.Pages "Section" "status") }}
      <li>
        <a href="{{ .Permalink }}">
          {{ substr (.Content | markdownify) 0 40 }}…
        </a>
      </li>
      {{ end }}
    </ol>
  </section>
  <section>
    <h2><abbr title="Rich Site Summary">RSS</abbr> feeds</h2>
    <ol>
      <li><a href="{{ .Permalink }}blog/index.xml" title="News feed for full blog posts, open in RSS news reader"><strong>Blog feed</strong></a>, for newsreaders</li>
      <li><a href="{{ .Permalink }}index.xml" title="Feed for all posts, blog &amp; status"><strong>News feed</strong></a>, summary of all posts</li>
    </ol>
  </section>
  <section>
    <h2>Secondary navigation</h2>
    <nav class="nav">
      {{ $currentPage := . }} {{ range .Site.Menus.secondary }}
      <a class="{{ if or ($currentPage.IsMenuCurrent " secondary " .) ($currentPage.HasMenuCurrent "secondary" .) }}is-active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </nav>
  </section>
</aside>
