<link rel="manifest" href="/assets/pwa/manifest.json">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/pwa/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/pwa/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/pwa/favicon-16x16.png">
<link rel="mask-icon" href="/assets/pwa/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/pwa/favicon.ico">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Indiego">
<meta name="application-name" content="Indiego">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/pwa/browserconfig.xml">
<meta name="msapplication-starturl" content="/">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#ffffff">
