<!-- Twitter -->
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
{{ if eq .Type "status" }}
<meta name="twitter:title" content="{{ .Date.Format "Monday, 2 January 2006" }}">
<meta name="twitter:description" content="{{ .Summary }}">
{{ else }}
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
{{ end }}
{{ if .Params.Image }}
<!-- Twitter Summary Card with Large Image data -->
<!-- Aspect ratio 2:1, minimum dimension 300x157 -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ .Params.Image }}">
<meta name="twitter:image:alt" content="{{ .Params.ImageAlt }}">
{{ else }}
<!-- Twitter Summary Card -->
<!-- Aspect ratio 1:1, minimum dimension 144x144 -->
<!-- Defaulting to publisher logo -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.publisherLogo }}">
<meta name="twitter:image:alt" content="{{ .Site.Params.publisher }} logo">
{{ end }}
