/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /* Colors
     ======================================================================== */

  /* --indigo: #4b0082; */

  /* Base variables, adapated from SUIT CSS
     ======================================================================== */

  --base_font: sans-serif;
  --base_fontsize: 16px;
  --base_lineheight: 1.5;
}
