{{ define "main" }}
  <main>
    <article>
      <h1>{{ .Title }}</h1>
      <time content="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "Monday" }}, {{ .Date.Format "2" | humanize}} {{ .Date.Format "January 2006" }}
      </time>
      <p>{{ .Description }}</p>
      {{ if .Params.tags }}
        <h3>Tags</h3>
        <ul>
          {{ range .Params.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ if .Params.image }}
        <figure>
          <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}">
          <figcaption>{{ .Params.imageCap }}</figcaption>
        </figure>
      {{ end }}
      <div>
        {{ .Content }}
      </div>
      <dl>
        <dt>Author:</dt>
        <dd rel="author">{{ .Site.Author.name }}</dd>
        <dt>Permalink URL:</dt>
        <dd>
          <a href="{{ .Permalink }}">{{ .Permalink }}</a>
        </dd>
      </dl>
    </article>
  </main>
{{ end }}
