/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /* Colors
     ======================================================================== */

  --dark: #383838; /* base.css, shame.css */
  --gray: #808080; /* typography.css */
  --light: #eee; /* typography.css, shame.css */
  --lightest: #f7f7f7; /* base.css */
  --blue: #3131f0; /* base.css, shame.css */
  --blueviolet: blueviolet; /* shame.css */
  --purple: purple; /* base.css */
  --indigo: #4b0082; /* base.css, shame.css */

  /**
   * Files where color variables are found:
   *
   *  base.css:
   *  --blue, --dark, --indigo, --lightest, --purple
   *  shame.css:
   *  --blue, --blueviolet, --dark, --indigo, --light
   *  typography.css:
   *  --gray, --light
   */

   /* Base variables, adapated from SUIT CSS
     ======================================================================== */

  --base_font: sans-serif;
  --base_fontsize: 16px;
  --base_lineheight: 1.5;
}
